<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Times Table</title>

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/a04d9e4c1c.js"></script>

    <!-- My Stylesheet -->
    <link rel="stylesheet" href="styles.css">

    <!-- Rambda -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>

    <!-- ANGULAR 1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src = "app.js"></script>

</head>
<body>

    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">
                        Angular Times Table
                    </span>
                </div>
            </div>
        </nav>

    </header>

    <div class="container" ng-cloak ng-controller='MainCtrl'>
       <div class="row">
           
           <div class="form-group col-md-3 col-md-offset-3">
               <label for="times-table-rows">Rows</label>
               <input type="number" id="times-table-rows" ng-model="userRows" class="forms-control">
           </div>
           <div class="form-group col-md-3">
               <label for="times-table-rows">Cols</label>
               <input type="number" id="times-table-rows" ng-model="userCols" class="forms-control">
           </div>
       </div>

       <div class="alert alert-warning" ng-show="!showTable()">
           Please enter a positive number of rows and columns
       </div>

       <!--  ********************* -->
       <div class="times-table" ng-show = "showTable()">
           <h3>Times Table</h3>

           <table class="table-striped table-bordered table">
           <thead>
                <tr>
                    <th>X</th>
                    <th ng-repeat="col in getCols()">
                        {{col}}
                    </th>
                </tr>
            </thead>
            <tbody ng-mouseleave="clearSelectedValue()">
                <tr ng-repeat="row in getRows()">    
                    <th>
                        {{row}}
                    </th>
                
                    <td 
                        class="table-value"
                        ng-repeat="col in getCols()"
                        ng-mouseover="setSelectedValue(row, col)">
                        {{ getTableValue(row, col) }}
                    </td>
                </tr>
            </tbody>
           </table> 

           <div class="well well-lg" ng-show="selectedValue">
               <p class="lead">
               {{selectedValue.row}} &times; {{selectedValue.col}} = 
               {{selectedValue.row * selectedValue.col}}
               </p>
            </div>  

       </div>
    </div>
    
    <!-- Bootstrap -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>